[Unit]
Description=Seabattle online game (gunicorn backend)
After=network.target redis-server.service

[Service]
WorkingDirectory=/opt/minecraft-panel
Environment=PANEL_CONFIG=/opt/minecraft-panel/config.json
ExecStart=/opt/minecraft-panel/venv/bin/gunicorn -b 127.0.0.1:18090 -w 2 --timeout 25 --graceful-timeout 10 --keep-alive 5 --max-requests 800 --max-requests-jitter 80 --limit-request-line 4094 --limit-request-fields 50 --limit-request-field_size 4096 app:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
