PassengerEnabled On
PassengerAppRoot /home/u549672/omove.ru/www
PassengerBaseURI /
PassengerPython /home/u549672/omove.ru/www/venv/bin/python
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py

# Статика напрямую через Apache, если Passenger не перехватит
RewriteEngine On
RewriteRule ^static/(.*)$ static/$1 [L]
